@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO A SOCIAL.NETWORK</h1>
    <p>La red social especificamente ingeniada y desarrollada por esos jugosos 30 puntos correspondientes a la segunda entrega del obligatorio para la materia de Programación 2</p>
    <p>@ViewBag.MensajeBienvenida</p>
    <p class="alert-warning">@TempData["msgIndex"]</p>
</div>
