@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Señoras y señores sean todos y todas bienvenidos y bienvenidas a la papeleria de matias y gaston de programacion 3 :)</h1>
</div>
