/* Comentario en linea */
/*Comentario 
en 
bloque

selector{
    propiedad:valor;
    propiedad2:valor;
    propiedad3:valor;
    propiedad4:valor;
}

selectorDos{
    propiedad:valor;
}


SELECTOR DE TIPO ETIQUETA
p{}

SELECTOR DE TIPO ID (#)
#pDestacado{}

SELECTOR DE TIPO CLASE (.)
.subrayado{}

SELECTOR UNIVERSAL
*{}

Jerarquia
ID > CLASE > ETIQUETA > SELECTOR UNIVERSAL
*/
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing:border-box;
}

:root{
--colorRojo:rgb(173, 36, 36);
}

/*MI CSS*/
h1,h2{
    font-family: Sacramento;
    font-size: 60px;
}


h1{
    color:var(--colorRojo)
}
/*HEADER*/
header{
    background-image: url(/materiales/img/header.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: 0 80px;
    height: 20%;
    border-bottom: 5px white solid;
}

header img{
    width: 60px;
}

a{
    background-color: pink;
    color: var(--colorRojo);
    transition: all .5s;
}

a:hover{
    transform: all 2s;
    background-color: red;
    color: pink;
}

/*SECCION 1: La navidad en casa*/

section:nth-of-type(1){
    background-color: var(--colorRojo);
    background-image: url(/materiales/img/casas.png);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    color: white;
}

section:nth-of-type(1) div figure img{
    width: 150px;
}


/*SECTION 2: La familia unida*/
section:nth-of-type(2){
    color: white;
    background-image: url(/materiales/img/luces.jpg);
    background-size: cover;
    background-blend-mode: color-burn;
    background-color: rgb(255, 0, 0,0.3);
}

/*SECTION 3: Mas vendidos*/



/*SECTION 4: noscuidamosentretodos*/
section:nth-of-type(4){
    color: white;
    background-image: url(/materiales/img/globos.jpg);
    background-size: cover;
}

/*SECTION 5: Form*/
section:nth-of-type(5){
    background-color: salmon;
    color: white;
}

fieldset input{
    width: 50%;
}
fieldset input::placeholder{
    color: salmon;
}

section:nth-of-type(5) .submit{
    background-color: salmon;
    border: 2px solid white;
    color:white;
}

footer{
    background-color: var(--colorRojo);
}

footer nav ul li{
    width: 35px;
    height: 35px;
    background-image: url(/materiales/img/redes.png);
    background-repeat: no-repeat;
}

footer nav ul li:nth-of-type(1){
    background-position: 0px 0px;
}
footer nav ul li:nth-of-type(2){
    background-position: 0px -48px;
}
footer nav ul li:nth-of-type(3){
    background-position: 0px -97px;
}
/*BOOTSTRAP CSS*/